#doctores {
  min-height: 50vh;
  .encabezado {
    ul {
      float: right;
    }
    h2 {
      font-size: 32px;
      font-weight: 400;
    }
    a {
      color: $brand-gray-01;
      &:hover{
        color: $brand-secundary;
        text-decoration: none;
      }
    }
  }
  .docsContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
    article {
      width: 23.4%;
      margin: 24px 8px;
      &:first-child{
        margin-left: 15px;
      }
      &:last-child{
        margin-right: 15px;
      }
      .textDoctor {
        text-align: left;
        h2 {
          font-size: 28px;
          line-height: 32px;
          font-weight: bold;
        }
        h4, h5 {
          color: $brand-gray-02;
        }
      }
      .coments {
        display: flex;
        flex-direction: row;
        align-content: space-between;
        .usersComent {
          width: 30%;
          span {
            width: 24px;
            height: 24px;
            background-color: $brand-primary;
            color: white;
            border-radius: 50%;
            margin-top: -5px;
            margin-left: 60px;
            position: absolute;
            cursor: pointer;
            text-align: center;
          }
          a {
            float: right;
            i {
              font-size: 48px;
              color: $brand-gray-02;
            }
          }
        }
      }
    }
  }
}

.goToTop {
position: fixed;
top: 50px;
right: 150px;
z-index: 1;
width: 33%;
}
