.navbar-default {
  position: absolute;
  width: 100%;
  border: 0;
  background-color: $brand-secundary;
  color: $brand-gray-03;
  z-index: 30;
  @media only screen and (min-width : 992px) {
    background-color: transparent;
  }
  .navbar-brand {
    color: $brand-gray-03;
    @media only screen and (min-width : 1024px) {
      color: $brand-secundary;
    }
    &:hover {
      color: $brand-secundary;
    }
  }
  .navbar-toggle {
    &:hover {
      background-color: $brand-secundary;
      border-color:rgba(255,255,255,0.0);
    }
    .icon-bar {
     background-color: white;
    }
  }
  .navbar-nav {
    .links {
      padding-top: 16px;
      padding-bottom: 16px;
      a {
        color:$brand-gray-03;
        font-size: 16px;
        margin-right: 16px;
        @media only screen and (min-width : 1024px) {
          color:$brand-gray-01;
        }
      }
    }
  }
}
