body {
  text-align: center;
}

h1 {
  color: white;
  margin: 50px auto 10px auto;
  font-size: 30px;
  line-height: 30px;
}

h2 {
  color: #29C3DB;
}

h3 {
  color: white;
}

section {
  padding: 45px 0;
}

img {
  max-width: 100%;
}

.separador {
  margin: 5% auto;
}
