
// Body
$body-bg: #f0f0f0;

// Brands
$brand-primary: #29C3DB;
$brand-secundary: #64DB29;
$brand-gray-01: #5a5a5a;
$brand-gray-02: #969696;
$brand-gray-03: #f0f0f0;

// Typography
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$font-family-sans-serif: "Ubuntu", sans-serif;
$font-size-base: 14px;
$line-height-base: 1.6;
$text-color: $brand-gray-01;
