#login {
  color: $brand-gray-01;
  text-align: center;
  h2 {
    color: $brand-secundary;
    margin-top: 20%;
  }
  a {
    color: $brand-gray-01;
  }
  .registro {
    .inicioSesion {
      margin-top: 10%;
      form {
        margin-top: 48px;
        input {
          border: 0;
          border-bottom: 1px solid $brand-gray-01 !important;
          background-color: transparent !important;
          border-radius: 0 !important;
          height: 48px;
          margin-top: 24px;
          margin-bottom: 24px;
          box-shadow: 0 0 0 transparent;
          text-align: center;
          &::placeholder {
            color: rgba(150,150,150,0.5);
          }
        }
      }
      input[type="checkbox"]{
        display: inline-block;
        margin: 0;
        margin-left: -30px;
        width: 24px;
        height: 24px;
        background-color: transparent;

      }
    }
  }
}
